<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>search result</title>
    <link rel="stylesheet" href="../css/semantic.css">
    <link rel="stylesheet" href="css/display_search.css">
</head>
<body>
<div class="ui vertical segment very big padded">
    <div class="ui fluid icon small input" style="width: 800px;padding: 1%;">
        <img src="../img/google.png" id=search-image" style="width: 10%; height: 10%; margin-top: 1%;">
        <input type="text" placeholder="搜索你所想..." style="margin-left: 30px;">
    </div>
</div>

<div id="content">
    <div id="search-result">
        找到约 10,600,000 条结果 （用时 0.45 秒）
    </div>

    <div class="display-content" style="margin-top: 20px;font-family: arial, helvetica, sans-serif;">
        <h3><a class="url-title">This is the a href address.</a></h3>
        <h4><a class="url-address">www.baidu.com</a></h4>
        <p style="text-align: justify">
            网页的滚动条是怎么来的？ 突然转向了一个奇怪的话题。为什么网页太长了，就会出现滚动条（默认行为如此）？
            我们都知道，一个块元素设置overflow 样式为auto，当其中内容过长超过块元素长宽时，就会出现滚动条。
            ——其实，网页有滚动条是因为
            默认拥有 overflow:auto 的样式！而
            元素的尺寸，正是窗口的尺寸。
        </p>
    </div>

    <div class="display-content" style="margin-top: 20px;font-family: arial, helvetica, sans-serif;">
        <h3><a class="url-title">This is the a href address.</a></h3>
        <h4><a class="url-address">www.baidu.com</a></h4>
        <p style="text-align: justify">
            网页的滚动条是怎么来的？ 突然转向了一个奇怪的话题。为什么网页太长了，就会出现滚动条（默认行为如此）？
            我们都知道，一个块元素设置overflow 样式为auto，当其中内容过长超过块元素长宽时，就会出现滚动条。
            ——其实，网页有滚动条是因为
            默认拥有 overflow:auto 的样式！而
            元素的尺寸，正是窗口的尺寸。
        </p>
    </div>

    <div class="display-content" style="margin-top: 20px;font-family: arial, helvetica, sans-serif;">
        <h3><a class="url-title">This is the a href address.</a></h3>
        <h4><a class="url-address">www.baidu.com</a></h4>
        <p style="text-align: justify">
            网页的滚动条是怎么来的？ 突然转向了一个奇怪的话题。为什么网页太长了，就会出现滚动条（默认行为如此）？
            我们都知道，一个块元素设置overflow 样式为auto，当其中内容过长超过块元素长宽时，就会出现滚动条。
            ——其实，网页有滚动条是因为
            默认拥有 overflow:auto 的样式！而
            元素的尺寸，正是窗口的尺寸。
        </p>
    </div>

    <!# page-navigation #>
    <table id="navigator">
        <tr>
            <td><a>1</a></td>
            <td><a>2</a></td>
            <td><a>3</a></td>
            <td><a>4</a></td>
            <td><a>5</a></td>
            <td><a>6</a></td>
            <td><a>7</a></td>
            <td><a>8</a></td>
            <td><a>9</a></td>
            <td><a>10</a></td>
            <td><a style="display: block; margin-left: 10px;">>下一页</a></td>
        </tr>
    </table>
</div>

<div class="ui vertical large segment" id="bottom-segment">
    <ul style="margin: 0 100px 0 100px;">
        <li>
            90014 加利福尼亚州洛杉矶 - 基于您的 IP 地址
        </li>
    </ul>
</div>

</body>
</html>