<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doogle</title>
    <link rel="stylesheet" href="css/search_page.css">
    <link rel="stylesheet" href="css/semantic.css">
    <link rel="stylesheet" href="css/search.css">
</head>
<body>
<div class="content" id="main" style="padding: 15%">
    <center>
            <img src="img/google.png" style="width: 400px;">
            <div class="ui fluid icon input">
                <input type="text" placeholder="搜索你所想..." style="margin-top:30px;" id="search_box">
                <i></i>
            </div>
    </center>
</div>
</body>
</html>